@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --font-color:#ffffff;
  --sec-font:#ffffff99;
  --main-color: rgb(17, 17, 17);
  --sec-main:#262626;
  --orange-color:rgb(230, 83, 60);
}
body{
   font-family: "Inter", sans-serif;
   max-width: 1440px;
   background-color:var(--main-color);
}
/*shared style start*/
.container{
    margin: 3rem auto;
    width: 80%;
    border-radius: 3px;
    color: var(--font-color);
  }
  
  
  h1{
    font-size: 2.5rem;
  }
  p{
    color: var(--sec-font);
    font-size: .9rem;
    line-height: 1.3rem;
    opacity: 80%;
  }
  /*shared style end*/
  /*Navbar style start*/
header{
    padding:3rem 6rem;
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar i{
    color: var(--font-color);
    font-size: 2.5rem;
    display: none;
  }
  .brand{
   font-size: 2rem;
   font-weight: 800;
   color:var(--orange-color);
   font-style: italic;
  }
  
  .nav-option ul{
    display: flex;
    gap: 3rem;
    list-style: none;
  }
  
  ul li , li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--font-color);
    font-weight: 500;
    opacity: 95%;
  }
  
  .gift{
    border-top: 2px solid var(--font-color);
    border-bottom: 2px solid var(--font-color);
    color: var(--orange-color);
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  /*Navbar style end*/
  /*Hero section start*/

.hero-section{
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: -50px;
  background: rgb(17, 17, 17)
  rgba(119, 119, 119, 0)

}

.hero-content{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 30px;
}

.hero-content h1{
  font-size:4.5rem ;
  color: var(--font-color);
  line-height:1.2em;
  
}

.hero-content h1 span{
  font-family:"Dancing Script", cursive;
  font-weight:;
  font-size: 6rem;
  text-shadow: 10px 5px 10px var(--font-color);
  cursor: pointer;
  transition: 1s all;
}
.hero-content h1 span:hover{
  display: inline-block;
}

.hero-content p{
  line-height: 1.5rem;
  opacity: 90%;
  color: var(--font-color);
  letter-spacing: 0.03rem;
  font-size: 1rem;
}
.btn-box{
  display: flex;
  gap: 40px;
}
 button , .active{
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 1px solid var(--orange-color);
  background: var(--orange-color);
  color: var(--font-color);
  border-radius: 30px;
  border-top: 2px solid var(--font-color);
  border-left:2px solid var(--font-color);
  transition: .2s ease;
  cursor: pointer;
}

button:hover , .active:hover{
  border-top: 0;
  border-left:0;
  border-bottom: 2px solid var(--font-color);
  border-right:2px solid var(--font-color);
}

.hero-image{
  width: 350px;
  position: relative;
}

.hero-image img{
  width: 100%;
}


.like{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  color: var(--font-color);
  padding: 15px;
  width: 150px;
  padding: 0;
  border-radius: 8px;
  text-align: center;
}
.like h5{
font-size: 2rem;
}
.btn-1{
  position: absolute;
  left: -35px;
  bottom: 120px;
}

.btn-2{
  position: absolute;
  right: 0;
  top: 130px;
}

/*Hero section end*/
