@media screen and (max-width: 576px)
{
 .header{
  padding:2rem ;
 }

 .container{
  margin: 10% auto;
  width: 90%;
  border-radius: 3px;
 }

  .nav-option{
    display: none;
  }
  .navbar i{
    display: block;
  }

  .hero-section{
    display: flex;
    flex-direction: column;
    }
    
    .hero-content h1{
      font-size:3.5rem ;
    }
    
  
    .hero-image{
    width: 350px;
    display: flex;
   }
    .hero-image img {
    width: 60%;
    margin: 0 auto;
    }
    .btn-box{
      justify-content: space-around;
    }
    .btn-1{
    left: 15px;
    bottom: 50px;
  }
  
  .btn-2{
    right: 15px;
    top: 100px;
  }
  
  .habit-item{
    margin-top: 50px;
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
  }
  
  .run-extra {
    margin-top: 70px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .run-img{
    width: 100%;
  }
  
  .train-grid{
    flex-direction: column;
    row-gap: 40px;
  }
  .row1 , .row2{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .row1 > div, .row2 > div{
    height: 250px;
  }
  
  .bmi-calculator{
    grid-template-columns: 1fr;
  }
  
  .input-box{
    width: 150px;
    flex-grow: 1;
    border-radius: 8px;
    border: none;
  }
  
  .bmi-calculator{
    padding: 10%;
    row-gap: 50px;
   }
   .bmi-left {
    display: flex;
    flex-direction: column;
   }
   .bmi-right{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  .team-photo{
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .photo{
    margin: 0 auto;
  }
  
  .footer-content{
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
    padding: 40px 2rem;
  }
  
  .gift-hero video {
    position: relative;
    color: var(--font-color);
  }
  .gift-content{
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
  }
  .gift-content p{
    display: none;
  }
  .gift-content h1{
    font-size: 1.5rem;
    color: var(--orange-color);
  }
  
  .free-item-box{
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  
}